examples/sensevalues.json
[{"id":"82926ac6bb2e263f","type":"debug","z":"3d8bc5187eb93fc0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":580,"wires":[]},{"id":"f3c743b9dc8a14c8","type":"grohe sense","z":"3d8bc5187eb93fc0","location":"dd73ac27fcefb839","room":"Wasserkeller","appliance":"Sense3","devicetype":"101","description":"","x":500,"y":640,"wires":[["82926ac6bb2e263f","8e1a383797847ac6"]]},{"id":"5bd3bf0faf09e0df","type":"function","z":"3d8bc5187eb93fc0","name":"data","func":"let now = Date.now();\nlet end = now;\nlet start = now - 24 * 60 * 60000;\n\nmsg.payload = {\n    data : {\n        from : start,\n        to : end,\n        groupBy : 'hour'\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":640,"wires":[["f3c743b9dc8a14c8"]]},{"id":"aad4c9776e3ed861","type":"inject","z":"3d8bc5187eb93fc0","name":"get data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":640,"wires":[["5bd3bf0faf09e0df"]]},{"id":"72abc949badb53f9","type":"ui_gauge","z":"3d8bc5187eb93fc0","name":"Humidity","group":"3ed382093da5193c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#b30000","#3de600","#cb3a3a"],"seg1":"40","seg2":"80","className":"","x":940,"y":680,"wires":[]},{"id":"4126c00d2af2a71e","type":"ui_text","z":"3d8bc5187eb93fc0","group":"3ed382093da5193c","order":4,"width":0,"height":0,"name":"","label":"Timestamp","format":"{{msg.payload}}","layout":"row-spread","className":"","x":950,"y":600,"wires":[]},{"id":"9932c2e8e187738d","type":"ui_gauge","z":"3d8bc5187eb93fc0","name":"Temperature","group":"3ed382093da5193c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value | number:1}}","min":0,"max":"30","colors":["#000cb3","#3de600","#cb3a3a"],"seg1":"10","seg2":"20","className":"","x":950,"y":640,"wires":[]},{"id":"8e1a383797847ac6","type":"function","z":"3d8bc5187eb93fc0","name":"last values","func":"if (msg.payload.data){\n    const culture = 'de-DE';\n    let measurement = msg.payload.data.measurement;\n    let measurementCount = measurement.length;\n    let lastMeasurement = measurement[measurementCount - 1];\n\n    let timestamp = new Date(lastMeasurement.timestamp);\n\n    let msg1 = { \n        payload: timestamp.toLocaleDateString(culture) + ' ' + timestamp.toLocaleTimeString(culture)\n    };\n    let msg2 = {\n        payload: lastMeasurement.temperature\n    };\n    let msg3 = {\n        payload: lastMeasurement.humidity\n    };\n\n    let msgs = [msg1, msg2, msg3];\n    return msgs;\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":640,"wires":[["4126c00d2af2a71e"],["9932c2e8e187738d"],["72abc949badb53f9"]]},{"id":"dd73ac27fcefb839","type":"grohe location","location":"Haus"},{"id":"3ed382093da5193c","type":"ui_group","name":"Sense","tab":"933900f0656633c1","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"933900f0656633c1","type":"ui_tab","name":"Grohe","icon":"fa-tint","disabled":false,"hidden":false}]