examples/senseguardvalues.json
[{"id":"66266928188da69a","type":"debug","z":"3d8bc5187eb93fc0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"93a1577810278719","type":"grohe sense","z":"3d8bc5187eb93fc0","location":"dd73ac27fcefb839","room":"Wasserkeller","appliance":"SenseGuard","devicetype":"103","description":"","x":510,"y":420,"wires":[["66266928188da69a","a0b5c85ad81d8d84"]]},{"id":"ef98843a8ffcf1f6","type":"function","z":"3d8bc5187eb93fc0","name":"data","func":"let end = new Date();\nlet start = new Date();\nstart.setDate(end.getDate() - 1); // last 7 days.\n\nmsg.payload = {\n    data : {\n        from : start,\n        to : end,\n        groupBy : 'hour'\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":420,"wires":[["93a1577810278719"]]},{"id":"22a5730b747230cf","type":"inject","z":"3d8bc5187eb93fc0","name":"get data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":420,"wires":[["ef98843a8ffcf1f6"]]},{"id":"5b741c4b85523b73","type":"ui_gauge","z":"3d8bc5187eb93fc0","name":"Pressure","group":"69e015f0.4b91cc","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"bar","format":"{{value | number:1}}","min":0,"max":"10","colors":["#b30000","#3de600","#cb3a3a"],"seg1":"2","seg2":"8","className":"","x":940,"y":440,"wires":[]},{"id":"41cf0806bd75eb9f","type":"ui_text","z":"3d8bc5187eb93fc0","group":"69e015f0.4b91cc","order":4,"width":0,"height":0,"name":"","label":"Timestamp","format":"{{msg.payload}}","layout":"row-spread","className":"","x":950,"y":360,"wires":[]},{"id":"3b2b4d32c01943ec","type":"ui_gauge","z":"3d8bc5187eb93fc0","name":"Temperature","group":"69e015f0.4b91cc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value | number:1}}","min":0,"max":"30","colors":["#000cb3","#3de600","#cb3a3a"],"seg1":"10","seg2":"20","className":"","x":950,"y":480,"wires":[]},{"id":"a0b5c85ad81d8d84","type":"function","z":"3d8bc5187eb93fc0","name":"last values","func":"if (msg.payload.data){\n    const culture = 'de-DE';\n    let measurement = msg.payload.data.measurement;\n    let measurementCount = measurement.length;\n    let lastMeasurement = measurement[measurementCount - 1];\n\n    let timestamp = new Date(lastMeasurement.timestamp);\n\n    let msg1 = { \n        payload: timestamp.toLocaleDateString(culture) + ' ' + timestamp.toLocaleTimeString(culture)\n    };\n    let msg2 = {\n        payload: lastMeasurement.flowrate\n    };\n    let msg3 = {\n        payload: lastMeasurement.pressure\n    };\n    let msg4 = {\n        payload: lastMeasurement.temperature_guard\n    };\n\n    let msgs = [msg1, msg2, msg3, msg4];\n    return msgs;\n}\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":420,"wires":[["41cf0806bd75eb9f"],["df659bd05d6679ed"],["5b741c4b85523b73"],["3b2b4d32c01943ec"]]},{"id":"df659bd05d6679ed","type":"ui_gauge","z":"3d8bc5187eb93fc0","name":"Flowrate","group":"69e015f0.4b91cc","order":1,"width":0,"height":0,"gtype":"gage","title":"Flowrate","label":"l","format":"{{value | number:1}}","min":0,"max":"1000","colors":["#00ff00","#ff8000","#cb3a3a"],"seg1":"10","seg2":"200","className":"","x":940,"y":400,"wires":[]},{"id":"dd73ac27fcefb839","type":"grohe location","location":"Haus"},{"id":"69e015f0.4b91cc","type":"ui_group","name":"SenseGuard","tab":"933900f0656633c1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"933900f0656633c1","type":"ui_tab","name":"Grohe","icon":"fa-tint","disabled":false,"hidden":false}]