examples/sense.json
[{"id":"66b4df9cdc60b976","type":"inject","z":"3a763adab0a2a52d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":360,"wires":[["6592afcafa8f6f46"]]},{"id":"30a5462281a04175","type":"debug","z":"3a763adab0a2a52d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"58c71aaadfcde7a3","type":"inject","z":"3a763adab0a2a52d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":420,"wires":[["c8e2533ad925c950"]]},{"id":"616a402c7b2fb9c7","type":"inject","z":"3a763adab0a2a52d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["f2d67eb619de6923"]]},{"id":"92e22b3bbcf30152","type":"debug","z":"3a763adab0a2a52d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"52d922654befa906","type":"debug","z":"3a763adab0a2a52d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"6592afcafa8f6f46","type":"grohe sense","z":"3a763adab0a2a52d","location":"dd73ac27fcefb839","room":"WC","appliance":"Sense1","devicetype":"101","description":"","x":440,"y":360,"wires":[["30a5462281a04175"]]},{"id":"c8e2533ad925c950","type":"grohe sense","z":"3a763adab0a2a52d","location":"dd73ac27fcefb839","room":"Küche","appliance":"Sense2","devicetype":"101","description":"","x":440,"y":420,"wires":[["92e22b3bbcf30152"]]},{"id":"f2d67eb619de6923","type":"grohe sense","z":"3a763adab0a2a52d","location":"dd73ac27fcefb839","room":"Wasserkeller","appliance":"Sense3","devicetype":"101","description":"","x":440,"y":480,"wires":[["52d922654befa906"]]},{"id":"e3aeb6fbe42726b5","type":"function","z":"3a763adab0a2a52d","name":"data","func":"let end = new Date();\nlet start = new Date();\nstart.setDate(end.getDate() - 1); // last 7 days.\n\nmsg.payload = {\n    data : {\n        from : start,\n        to : end\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":540,"wires":[["f2d67eb619de6923"]]},{"id":"d76b31949d238dd4","type":"inject","z":"3a763adab0a2a52d","name":"get data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["e3aeb6fbe42726b5"]]},{"id":"dd73ac27fcefb839","type":"grohe location","location":"Haus"}]