examples/senseguard.json
[{"id":"acb005546b6d1d8a","type":"catch","z":"3a763adab0a2a52d","name":"","scope":null,"uncaught":false,"x":130,"y":60,"wires":[["12d34d7f89400a30"]]},{"id":"12d34d7f89400a30","type":"debug","z":"3a763adab0a2a52d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":60,"wires":[]},{"id":"d4e111d3e6674702","type":"inject","z":"3a763adab0a2a52d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["ed7589d527fde314"]]},{"id":"16aa744e037af364","type":"debug","z":"3a763adab0a2a52d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"1714900eea381bcf","type":"inject","z":"3a763adab0a2a52d","name":"open valve","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":160,"wires":[["b137886b772ea0d2"]]},{"id":"b137886b772ea0d2","type":"function","z":"3a763adab0a2a52d","name":"open","func":"msg.payload = {  \n    command : {\n        // temp_user_unlock_on: false,\n        // reason_for_change: 1,\n        // pressure_measurement_running: false,\n        // buzzer_on: false,\n        // buzzer_sound_profile: 2,\n        valve_open: true,\n        // measure_now: false,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":160,"wires":[["ed7589d527fde314"]]},{"id":"2ee7f46b1e23c3be","type":"inject","z":"3a763adab0a2a52d","name":"close valve","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":200,"wires":[["01cffcf2a41fdbf6"]]},{"id":"01cffcf2a41fdbf6","type":"function","z":"3a763adab0a2a52d","name":"close","func":"msg.payload = {  \n    command : {\n        // temp_user_unlock_on: false,\n        // reason_for_change: 1,\n        // pressure_measurement_running: false,\n        // buzzer_on: false,\n        // buzzer_sound_profile: 2,\n        valve_open: false,\n        // measure_now: false,\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":200,"wires":[["ed7589d527fde314"]]},{"id":"ed7589d527fde314","type":"grohe sense","z":"3a763adab0a2a52d","location":"dd73ac27fcefb839","room":"Wasserkeller","appliance":"SenseGuard","devicetype":"103","description":"","x":450,"y":120,"wires":[["16aa744e037af364"]]},{"id":"dd73ac27fcefb839","type":"grohe location","location":"Haus"}]