examples/sensehistory.json
[{"id":"5462d4a99434010e","type":"grohe sense","z":"3d8bc5187eb93fc0","location":"dd73ac27fcefb839","room":"Wasserkeller","appliance":"Sense3","devicetype":"101","description":"","x":660,"y":360,"wires":[["a3e8c762b30c3db8","e29398e523202206"]]},{"id":"f308b8d21910e758","type":"function","z":"3d8bc5187eb93fc0","name":"data","func":"let now = Date.now();\nlet end = now;\nlet start = now - 7 * 24 * 60 * 60000;\n\nmsg.payload = {\n    data : {\n        from : start,\n        to : end,\n        groupBy : 'hour'\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":360,"wires":[["5462d4a99434010e"]]},{"id":"2e50455ccad2f29f","type":"inject","z":"3d8bc5187eb93fc0","name":"get data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":360,"wires":[["f308b8d21910e758"]]},{"id":"180648c1c8d2f215","type":"ui_chart","z":"3d8bc5187eb93fc0","name":"","group":"d3ce60f5352fb0db","order":3,"width":"0","height":"0","label":"Temperature Sense 3","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"7","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1060,"y":340,"wires":[[]]},{"id":"a3e8c762b30c3db8","type":"function","z":"3d8bc5187eb93fc0","name":"convert","func":"if (msg.payload.data){\n    let measurement = msg.payload.data.measurement;\n\n    let temperatureData = [];\n    let humidityData = [];\n\n    for (const item of measurement) {\n        let date = new Date(item.date);\n        var timestamp = date; //Math.floor(date.getTime() / 1000); // unix\n\n        let temperaturePoint = {\n            x : timestamp,\n            y : item.temperature\n        };\n        temperatureData.push(temperaturePoint);\n\n        let humidityPoint = {\n            x: timestamp,\n            y: item.humidity\n        };\n        humidityData.push(humidityPoint);\n    }\n\n    let msg1 = { \n        payload : [{\n            series: [\"Temperature\"],\n            data: [temperatureData],\n            labels : [\"Sense3\"]\n        }]\n    };\n\n    let msg2 = {\n        payload: [{\n            series: [\"Humidity\"],\n            data: [humidityData],\n            labels: [\"Sense3\"]\n        }]\n    };\n    let msgs = [msg1, msg2];\n    return msgs;\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":360,"wires":[["180648c1c8d2f215"],["65d5e510b64026c3"]]},{"id":"65d5e510b64026c3","type":"ui_chart","z":"3d8bc5187eb93fc0","name":"","group":"d3ce60f5352fb0db","order":3,"width":"0","height":"0","label":"Humidity Sense 3","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1050,"y":380,"wires":[[]]},{"id":"e29398e523202206","type":"debug","z":"3d8bc5187eb93fc0","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"dd73ac27fcefb839","type":"grohe location","location":"Haus"},{"id":"d3ce60f5352fb0db","type":"ui_group","name":"Sense History","tab":"933900f0656633c1","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"933900f0656633c1","type":"ui_tab","name":"Grohe","icon":"fa-tint","disabled":false,"hidden":false}]